<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>User Edit</h1>
</div>
<div class="card mb-40">
    <div class="card-header">
        <i class="fa fa-edit"></i> Edit
    </div>
    <div class="card-body">
        <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="text" class="form-control" id="Email" [(ngModel)]="item.Email" name="Email" #Email="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="ProfileType">ProfileType</label>
                        <input type="text" class="form-control" id="ProfileType" [(ngModel)]="item.ProfileType" name="ProfileType" #ProfileType="ngModel" >
                    </div>
                    <div class="form-group ">
                        <label for="RegistrationStatus">RegistrationStatus</label>
                    </div>
                    <div class="form-group">
                        <label for="RoleType">RoleType</label>
                        <input type="text" class="form-control" id="RoleType" [(ngModel)]="item.RoleType" name="RoleType" #RoleType="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="SubscriptionType">SubscriptionType</label>
                        <input type="text" class="form-control" id="SubscriptionType" [(ngModel)]="item.SubscriptionType" name="SubscriptionType" #SubscriptionType="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="UserType">UserType *</label>
                        <input type="text" class="form-control" id="UserType" [(ngModel)]="item.UserType" name="UserType" #UserType="ngModel" required>
                        <div class="invalid-feedback">Value is required</div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password *</label>
                        <input type="text" class="form-control" id="password" [(ngModel)]="item.password" name="password" #password="ngModel" required>
                        <div class="invalid-feedback">Value is required</div>
                    </div>


        

                    <!-- BUTTON BAR -->
                    <div class="mt-40">
                        <button class="btn btn-primary pull-right" (click)="save(editForm.valid, item)">Save</button>
                        <button class="btn btn-secondary pull-right mr-2" (click)="goBack()">Back To List</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>